	
	body
	{
		font-family:Helvetica ;
	}


	b.green{color:rgb(20,255,20);}
	p
	{
		color:#999;
   		text-transform: rotate(-45deg);
   		font-family: Papyrus;
	}

	section
	{
			padding: 50px;
			padding-left: 50px;
			background-color: lightgrey;
			border: Aqua;
			border-width: 30px;
			text-align: center;
			
	}




	ul li
	{
			list-style: none;
			display: inline-block;
			padding: 20px;
			background-color: lightpink;
	}

	ul li a
	{
		color: green;
	}

	ul li a:hover
	{

		color: red;
	}

	ul li a:active
	{

			color: black;
	}

	img.circle
	{
    width: 800px;
    height: 800px;
    border-radius: 50%;
	}

	.img-container
	{
			opacity: 0.7;
			
			position:relative; 
			overflow: hidden;
			transition: opacity 500ms ease-in-out;
	}


	.img-container:hover
	{
			opacity: 1;
			transform: rotate(-15deg);
			position:relative; 
			overflow: hidden;
	}
	
